{% extends 'base.html' %}
{% block content %}
      <section id="team">
        <div class="container py-5">

          <div class="row pt-5 pb-3">

            <div class="col-md col-sm-12 text-center p-4">
              <i class="tdc-font-tdmp tdc-font-tdmp-droplets py-3"></i>
              <p class="head">Peace of mind</p>
              <p class="desc">Disconnect from your day to day life and discover a universe of peace and quit.</p>
            </div>

            <div class="col-md col-sm-12 text-center p-4">
              <i class="tdc-font-tdmp tdc-font-tdmp-bamboo py-3"></i>
              <p class="head">Nature</p>
              <p class="desc">Embracing all that is given by mother nature will make you feel deeply relaxed.</p>
            </div>

            <div class="col-md col-sm-12 text-center p-4">
              <i class="tdc-font-tdmp tdc-font-tdmp-spa-stones py-3"></i>
              <p class="head">Balance</p>
              <p class="desc">Find your inner balance, be present, notice your breath, listen to the birds.</p>
            </div>

            <div class="col-md col-sm-12 text-center p-4">
              <i class="tdc-font-tdmp tdc-font-tdmp-leves py-3"></i>
              <p class="head">Yoga</p>
              <p class="desc">Engage every part of your body and purify your heart chanting mantras.</p>
            </div>

            <div class="col-md col-sm-12 text-center p-4">
              <i class="tdc-font-tdmp tdc-font-tdmp-oil-bottle py-3"></i>
              <p class="head">Health</p>
              <p class="desc">Detox and nourish yourself with the healthiest cuisine and best Chinese tea.</p>
            </div>

          </div>

          <div class="row pt-5 pb-3 justify-content-center">

            <div class="col-auto wrapper"></div>

          </div>

          <div class="row pt-5 pb-3 justify-content-center text-center">

            <div class="col-md-9">
              <h2>Reconnect your body and spirit</h2>
              <p class="lead sub-title">Visit the govinda farm located at the purest part of chiang mai at the north thailand!</p>
              <p class="lead sub-title">You can join our yoga retreats or organize your own yoga group trip.</p>
            </div>

          </div>

          <div class="row pt-5 pb-4 justify-content-center">

            <div class="col-md-4 col-sm-12 mb-3">
              <img src="{{ url_for('static', filename='images/content/yamuna.jpg') }}" class="img-fluid" alt="Yamuna">
            </div>

            <div class="col-md-4 col-sm-12 mb-3">
              <img src="{{ url_for('static', filename='images/content/tea.jpg') }}" class="img-fluid" alt="Tea">
            </div>

            <div class="col-md-4 col-sm-12 mb-3">
              <img src="{{ url_for('static', filename='images/content/field.jpg') }}" class="img-fluid" alt="Field">
            </div>

          </div>
          
        </div>
      </section>

      <section id="video">
        <div class="container-fluid py-5">

          <div class="row py-5">

            <div class="col-md-6 col-sm-12 my-auto">

              <div class="row text-center">
                <h2>A beautiful farm and resort built among rice paddy fields</h2>
              </div>
              
              <div class="row pt-2 pb-2 justify-content-center">
                <div class="col-auto wrapper"></div>
              </div>
              
              <div class="row pt-2 pb-2 justify-content-center">
                <div class="col-10 text-center">
                  <p>Each day is filled with activities to experience nature, practicing yoga, juice detox, farming class, cooking class, sauna and delicios vegetarian food. Check out our presentation video to see the facilities we offer.</p>
                </div>
              </div>
              
            </div>

            <div class="col-md-6 col-sm-12 col-video">
              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/H1gxLcsmqeM" allowfullscreen></iframe>
              </div>
            </div>

          </div>
         
        </div>
      </section>

      <section id="facility">
        <div class="container py-5">

          <div class="row pt-5">

            <div class="col">

              <div class="row pb-5 justify-content-center text-center">
                <div class="col-md-9 col-sm-12">
                  <h2>Why yoga and nature?</h2>
                  <p class="lead text-uppercase sub-title">Feel connected to yourself, those around you and the world</p>
                </div>
              </div>
              
              <div class="row pt-2 pb-2 justify-content-center">
                <div class="col-md-7 col-sm-10 text-center">
                  <p>As humans, we can be very disconnected from our bodies, each other, and from nature. We yearn for something to fill that gap, occupying life with so many different distractions.</p>
                  <p>We forget to laugh with our neighbors, watch a storm, stretch like a cat, or even observe our bodies fully. Consciously doing these things can help us feel alive, happy and fulfilled.</p>
                </div>
              </div>

              <div class="row py-5">

                <div class="col-md-4 col-sm-12 text-center p-4">
                  <div class="img-wrapper mx-auto">
                    <img src="{{ url_for('static', filename='images/facility/yoga-space.jpg') }}" width="220" height="220" class="image rounded-circle" alt="Yoga Space">
                  </div>
                  <p class="head mt-4">Yoga</p>
                  <p class="sub-head">In the Nature</p>
                  <p class="desc px-3">Beautiful yoga space in the rice field with amazing view.</p>
                </div>

                <div class="col-md-4 col-sm-12 text-center p-4">
                  <div class="img-wrapper mx-auto">
                    <img src="{{ url_for('static', filename='images/facility/room.jpg') }}" width="220" height="220" class="image rounded-circle" alt="Luxury Room">
                  </div>
                  <p class="head mt-4">Rest</p>
                  <p class="sub-head">Luxury Rooms</p>
                  <p class="desc px-3">Comfortable rooms furnished with authentic antiques.</p>
                </div>

                <div class="col-md-4 col-sm-12 text-center p-4">
                  <div class="img-wrapper mx-auto">
                    <img src="{{ url_for('static', filename='images/facility/food.jpg') }}" width="220" height="220" class="image rounded-circle" alt="Food">
                  </div>
                  <p class="head mt-4">Kitchen</p>
                  <p class="sub-head">Locally Farmed</p>
                  <p class="desc px-3">Head Chef Tawan is an expert in vegetarian fusion food.</p>
                </div>
                <div class="col-md-4 col-sm-12 text-center p-4">
                  <div class="img-wrapper mx-auto">
                    <img src="{{ url_for('static', filename='images/facility/farm-shop.jpg') }}" width="220" height="220" class="image rounded-circle" alt="The Govinda Farm Shop">
                  </div>
                  <p class="head mt-4">Shop</p>
                  <p class="sub-head">Exclusivity</p>
                  <p class="desc px-3">Selection of quality Asian accessories and antiques.</p>
                </div>
                <div class="col-md-4 col-sm-12 text-center p-4">
                  <div class="img-wrapper mx-auto">
                    <img src="{{ url_for('static', filename='images/facility/farm-cafe.jpg') }}" width="220" height="220" class="image rounded-circle" alt="Organic and Healthy Cafe">
                  </div>
                  <p class="head mt-4">Cafe</p>
                  <p class="sub-head">Organic &amp; Healthy</p>
                  <p class="desc px-3">Juices, smoothies, coffees, salads and bites.</p>
                </div>
                <div class="col-md-4 col-sm-12 text-center p-4">
                  <div class="img-wrapper mx-auto">
                    <img src="{{ url_for('static', filename='images/facility/sauna.jpg') }}" width="220" height="220" class="image rounded-circle" alt="Sauna">
                  </div>
                  <p class="head mt-4">Sauna</p>
                  <p class="sub-head">Wellness Sensation</p>
                  <p class="desc px-3">A way to purify and recover your body and feel refreshed.</p>
                </div>

              </div>
            </div>
          </div>
        </div>
      </section>
      
      <section id="spiritual">

        <div class="container-fluid py-5">
          <div class="row py-5">
            
            <div class="col-md-6 col-sm-12 mb-3">
              <img src="{{ url_for('static', filename='images/content/lamp.jpg') }}" class="img-fluid" alt="Lamp">
            </div>

           <div class="col-md-6 col-sm-12 my-auto">

              <div class="row text-center mt-sm-3">
                <h2>An unforgettable trip for nature lovers and spiritual seekers</h2>
              </div>
              
              <div class="row pt-2 pb-2 justify-content-center">
                <div class="col-auto wrapper"></div>
              </div>
              
              <div class="row pt-2 pb-2 justify-content-center">
                <div class="col-10 text-center">
                  <p>The yoga retreats allow for totally new travel experience and to look at your life from another perspective. It’s a great opportunity to escape from your mundane activities and return to your inner spiritual source.</p>
                  <p>Relax your body and mind by taking the practice of yoga and meditation. Connect closely with nature and feel an intimate sense of rejuvenation, health, and happiness.</p>
                </div>
              </div>
              
            </div>

          </div>
        </div>

      </section>

      <section id="testimonials">
        <div class="container py-5">
          <div class="row pt-5 pb-0">

            <div class="col-md-3 col-sm-12">
              <div class="avatar text-center">
                <img src="{{ url_for('static', filename='images/testimonials/krishna-kanta.jpg') }}" width="164" height="164" class="border-0 rounded-circle" alt="Krishna Kanta">
              </div>
              <p class="head mt-4 mb-3 text-center">Krishna Kanta</p>
              <i class="fas fa-quote-left pl-5"></i>
              <p class="desc pb-3 px-5 text-center">Beautiful place with wonderful people!</p>
            </div>

            <div class="col-md-3 col-sm-12">
              <div class="avatar text-center">
                <img src="{{ url_for('static', filename='images/testimonials/aum-jareeluck-jansuwan.jpg') }}" width="164" height="164" class="border-0 rounded-circle" alt="Aum Jareeluck Jansuwan">
              </div>
              <p class="head mt-4 mb-3 text-center">Aum Jareeluck Jansuwan</p>
              <i class="fas fa-quote-left pl-5"></i>
              <p class="desc pb-3 px-5 text-center">Peaceful, comfortable, clean, close to nature.</p>
            </div>

            <div class="col-md-3 col-sm-12">
              <div class="avatar text-center">
                <img src="{{ url_for('static', filename='images/testimonials/nityananda-rama.jpg') }}" width="164" height="164" class="border-0 rounded-circle" alt="Nityananda Rama">
              </div>
              <p class="head mt-4 mb-3 text-center">Nityananda Rama</p>
              <i class="fas fa-quote-left pl-5"></i>
              <p class="desc pb-3 px-5 text-center">Beautifull place for meditation, yoga, and soul development.</p>
            </div>

            <div class="col-md-3 col-sm-12">
              <div class="avatar text-center">
                <img src="{{ url_for('static', filename='images/testimonials/napapha-panguin-maneemon.jpg') }}" width="164" height="164" class="border-0 rounded-circle" alt="Napapha Panguin Maneemon">
              </div>
              <p class="head mt-4 mb-3 text-center">Napapha Panguin Maneemon</p>
              <i class="fas fa-quote-left pl-5"></i>
              <p class="desc pb-3 px-5 text-center">The food is very delicious. The view is beautiful.</p>
            </div>

          </div>
        </div>
      </section>

      <section id="gallery">
        <div class="container-fluid pb-5">

          <div class="row pt-5 pb-3 justify-content-center">

            <div class="col-auto wrapper"></div>

          </div>

          <div class="row pt-5 pb-3 justify-content-center text-center">

            <div class="col-md-9">
              <h2>Amazing photo gallery</h2>
              <p class="lead sub-title">Discover spa heaven in this superb images.</p>
            </div>

          </div>

          <div class="row pt-5 pb-0">

            <a href="{{ url_for('static', filename='images/gallery/1.jpg') }}" data-toggle="lightbox" data-gallery="gallery" class="col-md col-sm-12 px-0">
              <img src="{{ url_for('static', filename='images/gallery/1.jpg') }}"  class="img-fluid" alt="">
            </a>
            <a href="{{ url_for('static', filename='images/gallery/2.jpg') }}" data-toggle="lightbox" data-gallery="gallery" class="col-md col-sm-12 px-0">
              <img src="{{ url_for('static', filename='images/gallery/2.jpg') }}"  class="img-fluid" alt="">
            </a>
            <a href="{{ url_for('static', filename='images/gallery/3.jpg') }}" data-toggle="lightbox" data-gallery="gallery" class="col-md col-sm-12 px-0">
              <img src="{{ url_for('static', filename='images/gallery/3.jpg') }}"  class="img-fluid" alt="">
            </a>            
            <a href="{{ url_for('static', filename='images/gallery/4.jpg') }}" data-toggle="lightbox" data-gallery="gallery" class="col-md col-sm-12 px-0">
              <img src="{{ url_for('static', filename='images/gallery/4.jpg') }}"  class="img-fluid" alt="">
            </a>            
            <a href="{{ url_for('static', filename='images/gallery/5.jpg') }}" data-toggle="lightbox" data-gallery="gallery" class="col-md col-sm-12 px-0">
              <img src="{{ url_for('static', filename='images/gallery/5.jpg') }}"  class="img-fluid" alt="">
            </a>            

          </div>

          <div class="row py-0">

            <a href="{{ url_for('static', filename='images/gallery/6.jpg') }}" data-toggle="lightbox" data-gallery="gallery" class="col-md col-sm-12 px-0">
              <img src="{{ url_for('static', filename='images/gallery/6.jpg') }}"  class="img-fluid" alt="">
            </a>
            <a href="{{ url_for('static', filename='images/gallery/7.jpg') }}" data-toggle="lightbox" data-gallery="gallery" class="col-md col-sm-12 px-0">
              <img src="{{ url_for('static', filename='images/gallery/7.jpg') }}"  class="img-fluid" alt="">
            </a>
            <a href="{{ url_for('static', filename='images/gallery/8.jpg') }}" data-toggle="lightbox" data-gallery="gallery" class="col-md col-sm-12 px-0">
              <img src="{{ url_for('static', filename='images/gallery/8.jpg') }}"  class="img-fluid" alt="">
            </a>            
            <a href="{{ url_for('static', filename='images/gallery/9.jpg') }}" data-toggle="lightbox" data-gallery="gallery" class="col-md col-sm-12 px-0">
              <img src="{{ url_for('static', filename='images/gallery/9.jpg') }}"  class="img-fluid" alt="">
            </a>            
            <a href="{{ url_for('static', filename='images/gallery/10.jpg') }}" data-toggle="lightbox" data-gallery="gallery" class="col-md col-sm-12 px-0">
              <img src="{{ url_for('static', filename='images/gallery/10.jpg') }}"  class="img-fluid" alt="">
            </a>            

          </div>

          <div class="row py-0">

            <a href="{{ url_for('static', filename='images/gallery/11.jpg') }}" data-toggle="lightbox" data-gallery="gallery" class="col-md col-sm-12 px-0">
              <img src="{{ url_for('static', filename='images/gallery/11.jpg') }}"  class="img-fluid" alt="">
            </a>
            <a href="{{ url_for('static', filename='images/gallery/12.jpg') }}" data-toggle="lightbox" data-gallery="gallery" class="col-md col-sm-12 px-0">
              <img src="{{ url_for('static', filename='images/gallery/12.jpg') }}"  class="img-fluid" alt="">
            </a>
            <a href="{{ url_for('static', filename='images/gallery/13.jpg') }}" data-toggle="lightbox" data-gallery="gallery" class="col-md col-sm-12 px-0">
              <img src="{{ url_for('static', filename='images/gallery/13.jpg') }}"  class="img-fluid" alt="">
            </a>            
            <a href="{{ url_for('static', filename='images/gallery/14.jpg') }}" data-toggle="lightbox" data-gallery="gallery" class="col-md col-sm-12 px-0">
              <img src="{{ url_for('static', filename='images/gallery/14.jpg') }}"  class="img-fluid" alt="">
            </a>            
            <a href="{{ url_for('static', filename='images/gallery/15.jpg') }}" data-toggle="lightbox" data-gallery="gallery" class="col-md col-sm-12 px-0">
              <img src="{{ url_for('static', filename='images/gallery/15.jpg') }}"  class="img-fluid" alt="">
            </a>

          </div>

        </div>
      </section>

    {% endblock %}
