{% extends 'base.html' %}
{% block h1 %}
<div class="banner-full">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 text-center">
                <div class="row">
                    <div class="col">
                        <h1 class="font-weight-bold mb-0">{{ event.title }}</h1>
                    </div>
                </div>
                <div class="row py-4 justify-content-center">
                    <div class="col-auto wrapper"></div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="lead font-weight-normal">{{ event.location }}</p>
                        <p class="lead font-weight-normal">{{ event.date_start.strftime('%d %B') }} - {{ event.date_end.strftime('%d %B') }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block content %}

{% for guru in event.gurus %}
    {{ guru.first_name }}
    <img src="/{{ guru.image.thumbnail.url }}" width="320" height="320">
{% endfor %}

{% endblock %}
