{% extends 'base.html' %}
{% block title %}{{ event.title }} | {{ event.location }}{% endblock %}

{% block h1 %}
<div id="event-weekly-banner" class="banner-full">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 text-center">
                <div class="row">
                    <div class="col">
                        <h1 class="font-weight-bold mb-0">{{ event.title }}</h1>
                    </div>
                </div>
                <div class="row py-4 justify-content-center">
                    <div class="col-auto wrapper"></div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="lead font-weight-normal">{{ event.location }}</p>
                        {% if event.date_start %}
                        <p class="lead font-weight-normal">{{ event.date_start.strftime('%d %B') }} - {{ event.date_end.strftime('%d %B') }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<section id="weekly-annonce">
    <div class="container">
        <div class="row py-5">
            <div class="col-12 my-auto">

                <div class="row mt-5 mb-2 text-center justify-content-center">
                    <h2>Join us for a unique blissful spiritual retreat!</h2>
                </div>
                
                <div class="row pt-2 pb-2 mb-3 justify-content-center">
                    <div class="col-auto wrapper"></div>
                </div>
                
                <div class="row pt-2 pb-2 text-center justify-content-center">
                    <div class="col-md-9 col-sm-12">
                        <p class="lead sub-title">Founded by a senior Bhakti Yoga teacher/oriental art expert, we share a full fledged healthy lifestyle in nature, yoga, mantra chanting, mediation, and vegetarian food.</p>
                    </div>
                </div>
                
                <div class="row py-5">

                    <div class="col-md-4 col-sm-12 pb-3 text-center my-auto">
                        <img src="{{ url_for('static', filename='images/content/weekly-1.jpg') }}" class="border-0 rounded-circle img-fluid" width="320" height="320" alt>
                    </div>
                    
                    <div class="col-md-4 col-sm-12 pb-3 text-center img-center position-relative">
                        <img src="{{ url_for('static', filename='images/content/weekly-2.jpg') }}" class="rounded-circle position-relative" width="560" height="560" alt>
                    </div>
                    
                    <div class="col-md-4 col-sm-12 pb-3 text-center my-auto">
                        <img src="{{ url_for('static', filename='images/content/weekly-3.jpg') }}" class="border-0 rounded-circle img-fluid" width="320" height="320" alt>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<section id="description">
    {{ event.description|safe }}
</section>

{% for banner in event.banners %}
<section id="banner-{{ loop.index }}" {% if loop.index%2 %} class="color-bg" {% endif %}>
        <div class="container-fluid py-5">

          <div class="row py-5">
            {% if loop.index%2 %}
            <div class="col-md-6 col-sm-12 my-auto">
                <div class="row py-5 justify-content-center">
                    <div class="col-md-9 col-sm-12">
                        {{ banner.description|safe }}
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-12 text-center">
                <img src="/{{ banner.image.url }}" class="img-fluid" alt="{{ banner.title }}">
            </div>
            {% else %}
            <div class="col-md-6 col-sm-12 pb-5 text-center">
                <img src="/{{ banner.image.url }}" class="img-fluid" alt="{{ banner.title }}">
            </div>
            
            <div class="col-md-6 col-sm-12 my-auto">

              <div class="justify-content-center">
                {{ banner.description|safe }}
              </div>
              
            </div>
            {% endif %}

          </div>
         
        </div>
</section>
{% endfor %}

<section id="event-gallery">
    <div class="container-fluid py-5">
        <div class="row py-5">

            <div class="col-lg-4 col-md-12 text-center justify-content-center">
                <img src="{{ url_for('static', filename='images/content/gallery-1.jpg') }}" class="img-fluid" alt>
            </div>

            <div class="col-lg-4 col-md-12 text-center justify-content-center">
                <img src="{{ url_for('static', filename='images/content/gallery-2.jpg') }}" class="img-fluid" alt>
            </div>

            <div class="col-lg-4 col-md-12 text-center justify-content-center">
                <img src="{{ url_for('static', filename='images/content/gallery-3.jpg') }}" class="img-fluid" alt>
            </div>

        </div>
    </div>
<section>

{% endblock %}
