{% extends 'base.html' %}
{% block title %}Events on Govinda Farm{% endblock %}
{% block h1 %}
<div id="events-banner" class="banner banner-half">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 text-center">
                <div class="row">
                    <div class="col">
                        <h1 class="font-weight-bold mb-0">Welcome to Govinda Farm Events</h1>
                    </div>
                </div>
                <div class="row py-4 justify-content-center">
                    <div class="col-auto wrapper"></div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="lead font-weight-normal">Lorem Ipsum</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block content %}
<section id="events">
    <div class="container py-5">
        <div class="row mt-5 mb-2 text-center justify-content-center">
            <h2>Our Events</h2>
        </div>
        <div class="row py-5">
        {% for event in events %}
            <div class="event col-lg-5 col-md-12 mb-3">
                <img class="img-fluid mb-3" src="/{{ event.image.thumbnail.url }}" alt="{{ event.title }}">
                <p class="lead text-uppercase"><a href="{{ url_for('events.event_page', slug=event.slug) }}">{{ event.title }}</a></p>
                {% if event.date_start %}
                <p class="small">{{ event.date_start.strftime('%d %B') }} - {{ event.date_end.strftime('%d %B') }}</p>
                {% endif %}
            </div>
        {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
